body {
  background-color: #f5f6f5;
}

body .animasi {
  position: relative !important;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

body .animasi.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

body h2.info {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  color: black;
}

body section.jumbocover {
  background-image: url("https://undangan.sman1rawamerta.sch.id/assets/img/wedding-pose-1.jpg");
  background-size: cover;
  position: fixed;
  width: 100% !important;
  height: 100vh;
  z-index: 199;
  bottom: 0;
}

body section.jumbocover div.bg-cover {
  background-color: rgba(52, 58, 64, 0.7) !important;
  height: 768px;
}

body section.jumbocover img.welcome {
  max-width: 405px;
  max-height: 280px;
}

body section.jumbocover h2.invited {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-top: -50px;
}

body section.jumbocover h3.invited {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-top: -20px;
}

body section.jumbocover div.arah-bawah {
  color: white;
  font-size: 3rem;
  margin-top: -20px;
}

body section.jumbocover button.open-invitation {
  background-color: #cda56b !important;
  border-color: #c1975a !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

body section.jumbocover button.open-invitation:hover {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

body section.home {
  background-image: url("https://undangan.sman1rawamerta.sch.id/assets/img/wedding-pose-1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

body section.home div.row div.col-12 {
  background-color: rgba(52, 58, 64, 0.7);
  height: 635px;
}

body section.home div.row div.col-12 img.couple-name {
  max-width: 40vw;
  max-height: 40vh;
  display: block;
}

body section.home div.row div.col-12 h1.name {
  font-family: "Rouge Script", cursive;
  font-size: 5rem;
  font-weight: 700;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -50px;
}

body section.home div.row div.col-12 p.date {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section.home div.row div.col-12 p.kepada {
  text-align: center;
  color: white;
  font-weight: 600;
}

body section.home div.row div.col-12 h2.tamu {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  color: white;
}

body section.home div.row div.col-12 p.alamat {
  text-align: center;
  color: white;
  font-weight: 600;
}

body section.home div#particles-js {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section.home div.triangle {
  height: 80px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(51%, #be955a)), -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(51%, #be955a)), -webkit-gradient(linear, right top, left bottom, color-stop(50%, transparent), color-stop(51%, #cca56b)), -webkit-gradient(linear, right bottom, left top, color-stop(50%, transparent), color-stop(51%, #cca56b));
  background-image: linear-gradient(to bottom right, transparent 50%, #be955a 51%), linear-gradient(to top right, transparent 50%, #be955a 51%), linear-gradient(to bottom left, transparent 50%, #cca56b 51%), linear-gradient(to top left, transparent 50%, #cca56b 51%);
  background-position: 0 0, 0 100%, 100% 0, 100% 100%;
  background-size: 50.3% 50%;
  background-repeat: no-repeat;
  position: relative;
  right: 0;
  top: -64px;
  z-index: 99;
}

body section.home div.informasi {
  z-index: 95;
  background-color: #f5f6f5 !important;
}

body section.home div.informasi h2.info {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  color: black;
  margin-top: 5vh;
  margin-bottom: 6vh;
}

body section.home div.informasi img.wave-1 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body section.couple {
  padding-top: 10vh;
}

body section.couple div.row div.col-md-12 h1.couple {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

body section.couple div.row div.col-lg-4 .card {
  border: none !important;
}

body section.couple div.row div.col-lg-4 .card .card-header {
  border: none !important;
  background-color: #f5f6f5;
}

body section.couple div.row div.col-lg-4 .card .card-body {
  background-color: #f5f6f5;
}

body section.couple div.row div.col-lg-4 .card .card-footer {
  background-color: #f5f6f5;
  border: none !important;
}

body section.couple div.row div.col-lg-4 .card img.pria {
  max-width: 20vw;
  background-image: url("https://undangan.sman1rawamerta.sch.id/assets/img/pria.jpg");
  background-size: 20vw;
}

body section.couple div.row div.col-lg-4 .card img.wanita {
  max-width: 20vw;
  background-image: url("https://undangan.sman1rawamerta.sch.id/assets/img/wanita.jpg");
  background-size: 20vw;
}

body section.gallery {
  padding-top: 5vh;
  padding-bottom: 10vh;
  background-color: #efefef;
}

body section.gallery div.row {
  margin-top: 5vh;
  margin-right: 2vw;
  margin-left: 2vw;
}

body section.gallery div.row img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body section.gallery div.row img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

body section.gallery div.row div.col-md-12 h1.gallery {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

body section.gallery div.row div.col-lg-12 .wedding-video {
  width: 640px;
  height: 426px;
  background-image: url("https://undangan.sman1rawamerta.sch.id/assets/img/wedding-4.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.5rem;
  color: white;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body section.gallery div.row div.col-lg-12 .wedding-video:hover {
  color: #6c757d;
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body section.event h1.acara {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  margin-top: 4vh;
}

body section.event h2.date-event {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  margin-top: 5vh;
}

body section.event h2.akad,
body section.event h2.resepsi {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  margin-top: 5vh;
}

body section.event div.card {
  border: none !important;
  background-color: transparent !important;
  margin-bottom: 3vh;
}

body section.event div.card div.card-body {
  padding: 0.25rem;
  font-weight: 650;
}

body section.location {
  padding-top: 5vh;
  padding-bottom: 10vh;
}

body section.location h1.location,
body section.location h2.link-head {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

body section.location div.row {
  margin-top: 5vh;
  margin-right: 2vw;
  margin-left: 2vw;
}

body section.location div.row div#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

body section.location div.row div#map h1.firstHeading {
  font-size: 1.5rem !important;
  text-align: center;
}

body section.location div.row div#map p.couple {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

body section.greeting {
  padding-top: 5vh;
  padding-bottom: 15vh;
  background-color: #efefef;
}

body section.greeting h1.greetings {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

body section.greeting div.row .hari,
body section.greeting div.row .jam,
body section.greeting div.row .menit,
body section.greeting div.row .detik {
  font-size: 5rem;
  margin-right: 10px;
  margin-left: 10px;
}

body section.greeting div.row div.label-hari,
body section.greeting div.row div.label-jam,
body section.greeting div.row div.label-menit,
body section.greeting div.row div.label-detik {
  margin-left: 10px;
  margin-right: 15px;
}

body section.greeting div.row div.label-hari h2,
body section.greeting div.row div.label-jam h2,
body section.greeting div.row div.label-menit h2,
body section.greeting div.row div.label-detik h2 {
  font-size: 2.5rem !important;
}

body section.comment h1.comment {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5vh;
}

body section.comment h2.list-ucapan {
  margin-bottom: 5vh;
}

body section.comment div.card {
  margin-bottom: 15vh;
  height: 50vh;
}

body section.comment div.card div.card-body {
  overflow: auto;
  background-color: #efefef !important;
}

body section.comment div.card div.card-body div.chat-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body section.comment div.card div.card-body div.chat-box div.chat-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section.comment div.card div.card-body div.chat-box div.chat-r .sp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body section.comment div.card div.card-body div.chat-box div.chat-r .mess {
  max-width: 47%;
  background-color: #F7FCF6;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
  cursor: pointer;
}

body section.comment div.card div.card-body div.chat-box div.chat-r .mess span.nama {
  font-weight: 650;
  font-size: 1rem;
}

body section.comment div.card div.card-body div.chat-box div.chat-r .mess p {
  word-break: break-all;
  font-size: 1rem;
  text-align: justify;
}

body section.comment div.card div.card-body div.chat-box div.chat-r .mess .check {
  float: right;
  color: #34b7f1;
  font-size: .7rem;
}

body section.comment div.card div.card-body div.chat-box div.chat-r .mess .check span {
  color: #888 !important;
  font-size: .7rem;
  font-weight: 700;
}

body section.comment div.card div.card-body div.chat-box div.chat-r .mess-r {
  background-color: #E2FFC7;
}

body section.comment div.card div.card-body div.chat-box div.chat-r .mess-r p i.fa-user {
  width: 20px;
}

body section.comment div.card div.card-body div.chat-box div.chat-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section.comment div.card div.card-body div.chat-box div.chat-l .sp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body section.comment div.card div.card-body div.chat-box div.chat-l .mess {
  max-width: 47%;
  background-color: #F7FCF6;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
  cursor: pointer;
}

body section.comment div.card div.card-body div.chat-box div.chat-l .mess span.nama {
  font-weight: 650;
  font-size: 1rem;
}

body section.comment div.card div.card-body div.chat-box div.chat-l .mess p {
  word-break: break-all;
  font-size: 1rem;
  text-align: justify;
}

body section.comment div.card div.card-body div.chat-box div.chat-l .mess .check {
  float: right;
  color: #34b7f1;
  font-size: .7rem;
}

body section.comment div.card div.card-body div.chat-box div.chat-l .mess .check span {
  color: #888 !important;
  font-size: .7rem;
  font-weight: 700;
}

body section.comment div.card div.card-body div.chat-box div.chat-l .mess-r {
  background-color: #E2FFC7;
}

body section.comment div.card div.card-body div.chat-box div.chat-l .mess-r p i.fa-user {
  width: 20px;
}

body button.lagu {
  z-index: 555;
  position: fixed;
  bottom: 70px;
  left: 30px;
  border-radius: 50% !important;
  background-color: #343a40 !important;
  border: 1px solid #343a40 !important;
}

body button.lagu:hover {
  background-color: #6c757d !important;
  border: 1px solid #6c757d !important;
}

body footer.navigasi {
  z-index: 100;
}

body footer.navigasi div a {
  color: white !important;
}

@media only screen and (max-width: 991px) {
  section.jumbocover {
    background-size: cover !important;
    background-position: center !important;
    height: 100vh !important;
  }
  section.jumbocover div.row h2.invited,
  section.jumbocover div.row h3.invited {
    font-size: 2rem;
  }
  section.jumbocover .bg-cover {
    height: 100vh !important;
  }
  section.jumbocover .bg-cover .welcome {
    max-width: 200px;
    margin-bottom: 30px;
  }
  section.home {
    background-size: 212vh !important;
  }
  section.home div.informasi {
    margin-top: -8vh;
    font-size: 2rem !important;
  }
  section.home div.informasi p,
  section.home div.informasi ul {
    font-size: 1rem !important;
  }
  section.home div#particles-js {
    height: 71%;
  }
  section.home div.row div.col-12 {
    height: 100vh !important;
  }
  section.home div.row div.col-md-12 {
    margin-top: 2vh !important;
  }
  section.home div.row div.col-md-12 h1.name {
    padding-top: 25px;
    font-size: 1.8em !important;
    text-align: center;
  }
  section.home div.row div.col-md-12 p.date {
    font-size: 1rem !important;
    margin-top: 2vh !important;
  }
  section.home div.row div.col-md-12 h2.tamu {
    font-size: 1.2rem;
  }
  section.couple div.row div.col-md-12 h1.couple {
    font-size: 2rem !important;
  }
  section.couple div.row div.col-lg-4 div.card img.pria {
    max-width: 90%;
    background-size: 100%;
  }
  section.couple div.row div.col-lg-4 div.card img.wanita {
    max-width: 90%;
    background-size: 100%;
  }
  section.couple div.row div.col-lg-4 div.card h2.info {
    font-size: 1.5rem;
  }
  section.gallery div.row div.col-md-12 h1.gallery {
    font-size: 2rem !important;
  }
  section.gallery div.row a.fancybox img {
    margin-bottom: 5vh;
  }
  section.gallery div.row a.wedding-video {
    width: 50% !important;
    height: 35vh !important;
    font-size: 1.5rem !important;
  }
  section.location h1.location,
  section.location h2.link-head {
    font-size: 2rem !important;
  }
  section.greeting {
    padding-bottom: 5vh !important;
  }
  section.greeting div.col-md-12 h1.greetings {
    font-size: 2rem !important;
  }
  section.greeting div.row div.hari,
  section.greeting div.row div.jam,
  section.greeting div.row div.menit,
  section.greeting div.row div.detik {
    height: 12vh !important;
  }
  section.greeting div.row div.hari span,
  section.greeting div.row div.jam span,
  section.greeting div.row div.menit span,
  section.greeting div.row div.detik span {
    font-size: 2rem !important;
    position: relative;
    top: -35px;
  }
  section.greeting div.row div.hari {
    margin-left: 0 !important;
    margin-right: 8px !important;
  }
  section.greeting div.row div.jam {
    margin-left: 0 !important;
    margin-right: 8px !important;
  }
  section.greeting div.row div.menit {
    margin-left: 0 !important;
    margin-right: 8px !important;
  }
  section.greeting div.row div.detik {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  section.greeting div.row div.label-hari {
    margin-left: 0 !important;
    margin-right: 8px !important;
  }
  section.greeting div.row div.label-jam {
    margin-left: 0 !important;
    margin-right: 8px !important;
  }
  section.greeting div.row div.label-menit {
    margin-left: 0 !important;
    margin-right: 8px !important;
  }
  section.greeting div.row div.label-detik {
    margin-left: 0 !important;
    margin-right: 9px !important;
  }
  section.greeting div.row div.label-hari h2.label-hari,
  section.greeting div.row div.label-hari h2.label-jam,
  section.greeting div.row div.label-hari h2.label-menit,
  section.greeting div.row div.label-hari h2.label-detik,
  section.greeting div.row div.label-jam h2.label-hari,
  section.greeting div.row div.label-jam h2.label-jam,
  section.greeting div.row div.label-jam h2.label-menit,
  section.greeting div.row div.label-jam h2.label-detik,
  section.greeting div.row div.label-menit h2.label-hari,
  section.greeting div.row div.label-menit h2.label-jam,
  section.greeting div.row div.label-menit h2.label-menit,
  section.greeting div.row div.label-menit h2.label-detik,
  section.greeting div.row div.label-detik h2.label-hari,
  section.greeting div.row div.label-detik h2.label-jam,
  section.greeting div.row div.label-detik h2.label-menit,
  section.greeting div.row div.label-detik h2.label-detik {
    font-size: 1.1rem !important;
  }
}

@media only screen and (max-width: 767px) {
  section.home div#particles-js {
    height: 100%;
  }
  section.couple div.row div.col-lg-4 div.card img.pria,
  section.couple div.row div.col-lg-4 div.card img.wanita {
    max-width: 60%;
  }
  section.gallery div.row {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 577px) {
  section.home {
    background-size: 212vh !important;
  }
  section.home div.row div.col-md-12 h1.name {
    margin-top: 17px !important;
    font-size: 3rem !important;
  }
  section.home div#particles-js {
    height: 200vh;
  }
  section.gallery div.row {
    margin-top: 0px !important;
  }
  section.gallery div.row a.wedding-video {
    width: 100% !important;
    height: 33vh !important;
  }
}
/*# sourceMappingURL=style.css.map */